@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

@theme {
  --animate-wave: wave 1.5s ease-in-out;
  @keyframes wave {
    0%,
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  --animate-fade-in-up: fade-in-up 1.5s ease-in-out;
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: "translate3d(0, 100%, 0)";
    }
    100% {
      opacity: 1;
      transform: "translate3d(0, 0, 0)";
    }
  }
  ---animate-fade-in-right: fade-in-right 1.5s ease-in-out;
  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: "translate3d(100%, 0, 0)";
    }
    100% {
      opacity: 1;
      transform: "translate3d(0, 0, 0)";
    }
  }
  --animate-fade-out-right: fade-out-right 1.5s ease-in-out;
  @keyframes fade-out-right {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: "translate3d(100%, 0, 0)";
    }
  }
}
